<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>berners</h1>
    <img src="/img/berners.jpg"  alt= "foto de berners" />
    <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. 
        Sus padres eran Conway Berners-Lee y Mary Lee Woods.
        [1]​ Sus padres eran matemáticos británicos y formaron parte del equipo que construyó el Manchester Mark I[cita requerida].
         Por ello, la orientación profesional le venía de familia, ya que sus padres se habían conocido en el proyecto de desarrollo del Ferranti Mark I, 
         el primer ordenador </p>
</body>
</html>